html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    display: block;
    margin: auto;
  }
  #motion{
    position:fixed;
    top:0;
    height:3vh; 
    background-color: bisque;
    margin-left:40vw;
    margin-top: 10px; 
    margin-bottom: 10px; 
    font-size:2vh;
  }
